body{
    padding: 0px;
    margin: 0px;
    background-color: #E4FDE1;
}

.container {
    min-height: 100%;
    justify-content: center;

}

header{
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    text-decoration: underline;
}
p{
    font-size: 1.5em;
    margin-top: 3em;
    margin-left: 2em;
}

.selectednName{
    text-align: center;
}

form{
    margin: 0.5em;
    padding-bottom: 0.5em;
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

input{
    background-color: #456990;
    color: white;
}

table.center {
    margin-left:auto;
    margin-right:auto;
    font-size: 2em;
}
 td{
    padding-bottom: 0.5em;
     padding-top: 0.5em;
 }